@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1a232e;
  --secondary: #a4a3fe;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 1px solid var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Eudoxus Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #000000;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  body,
  html {
    background: #000000;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}
